openapi: 3.0.1
x-mcp:
  enabled: true
info:
  title: LMNT
  version: '1.1'
servers:
  - url: https://api.lmnt.com
components:
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    PaymentRequired:
      description: Payment Required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    TooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
    InternalServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/errorResponse'
  schemas:
    errorResponse:
      description: The shape of every non-2xx response body.
      type: object
      required:
        - type
        - error
        - request_id
      properties:
        type:
          description: Discriminator. Always `error`.
          type: string
          enum:
            - error
        error:
          type: object
          required:
            - type
            - message
          properties:
            type:
              description: A short slug describing what went wrong.
              type: string
              enum:
                - invalid_request_error
                - authentication_error
                - permission_error
                - not_found_error
                - payment_required_error
                - rate_limit_error
                - internal_server_error
            message:
              description: A human-readable explanation of the error.
              type: string
        request_id:
          description: The unique identifier for the request that produced this error. Echoed by the `request-id` response header.
          type: string
          example: req_NCwcMfUDpDJoBg7QaMnYRk
    voice:
      description: Voice details
      properties:
        description:
          description: A text description of this voice.
          nullable: true
          type: string
        gender:
          description: A tag describing the gender of this voice, e.g. `male`, `female`, `nonbinary`.
          type: string
        id:
          description: The unique identifier of this voice.
          type: string
        name:
          description: The display name of this voice.
          type: string
        owner:
          description: The owner of this voice.
          enum:
            - system
            - me
            - other
          type: string
        starred:
          description: Whether this voice has been starred by you or not.
          type: boolean
        state:
          description: The state of this voice in the training pipeline (e.g., `ready`, `training`).
          type: string
        tags:
          description: Tags attached to this voice.
          type: array
          items:
            type: string
        type:
          description: 'The method by which this voice was created. Always `instant`.'
          enum:
            - instant
          type: string
        preview_url:
          description: >-
            A URL that returns a preview speech sample of this voice. The file can be played directly in a
            browser or audio player.
          type: string
      required:
        - owner
        - name
        - id
        - state
      type: object
    voiceId:
      type: string
      description: >-
        The voice id of the voice to use; voice ids can be retrieved by calls to `List voices` or `Voice
        info`.
      example: leah
    outputFormat:
      type: string
      enum:
        - aac
        - mp3
        - ulaw
        - wav
        - webm
        - pcm_s16le
        - pcm_f32le
      default: mp3
      description: >
        The desired output format of the audio. If you are using a streaming endpoint, you'll generate audio
        faster by selecting a streamable format since chunks are encoded and returned as they're generated.
        For non-streamable formats, all speech will be generated before encoding.


        Streamable formats:

        - `mp3`: 96kbps MP3 audio.

        - `ulaw`: 8-bit G711 µ-law audio with a WAV header.

        - `webm`: WebM format with Opus audio codec.

        - `pcm_s16le`: PCM signed 16-bit little-endian audio.

        - `pcm_f32le`: PCM 32-bit floating-point little-endian audio.


        Non-streamable formats:

        - `aac`: AAC audio codec.

        - `wav`: 16-bit PCM audio in WAV container.
    sampleRate:
      type: number
      enum:
        - 8000
        - 16000
        - 24000
      default: 24000
      description: >-
        The desired output sample rate in Hz. Defaults to `24000` for all formats except `mulaw` which
        defaults to `8000`.
    languageCode:
      type: string
      enum:
        - auto
        - ar
        - as
        - bn
        - cs
        - da
        - de
        - en
        - es
        - fi
        - fr
        - hi
        - id
        - it
        - ja
        - ko
        - ml
        - mr
        - nl
        - pl
        - pt
        - ru
        - sk
        - sv
        - ta
        - te
        - th
        - tr
        - uk
        - ur
        - vi
        - zh
      default: auto
      description: The desired language. Two letter ISO 639-1 code. Defaults to auto language detection, but specifying the language is recommended for faster generation.
    model:
      type: string
      enum:
        - blizzard
      default: blizzard
      description: The model to use for speech generation. Learn more about models [here](https://docs.lmnt.com/models/overview).
    text:
      type: string
      description: The text to generate speech from; max 5000 characters per request (including spaces).
      example: Uhh, did you see the weather in Palo Alto tomorrow? Yeah, can't believe it's gonna rain, dude. Like what?
    debug:
      description: When set to true, the generated speech will also be saved to your [clip library](https://app.lmnt.com/clips) in the LMNT playground.
      type: boolean
      default: false
    speechRequest:
      allOf:
        - $ref: '#/components/schemas/streamSpeechRequest'
        - type: object
          properties:
            return_timestamps:
              description: If set as `true`, the response will contain a `timestamps` array describing where each input element falls in the generated audio.
              example: true
              type: boolean
              default: false
    streamSpeechRequest:
      type: object
      required:
        - voice
        - text
      properties:
        voice:
          $ref: '#/components/schemas/voiceId'
        text:
          $ref: '#/components/schemas/text'
        model:
          $ref: '#/components/schemas/model'
        language:
          $ref: '#/components/schemas/languageCode'
        format:
          $ref: '#/components/schemas/outputFormat'
        sample_rate:
          $ref: '#/components/schemas/sampleRate'
        debug:
          $ref: '#/components/schemas/debug'
        top_p:
          type: number
          minimum: 0
          maximum: 1
          default: 0.8
          description: >-
            Controls the stability of the generated speech. A lower value (like 0.3) produces more consistent,
            reliable speech. A higher value (like 0.9) gives more flexibility in how words are spoken, but
            might occasionally produce unusual intonations or speech patterns.
        temperature:
          type: number
          minimum: 0
          default: 1
          description: >-
            Influences how expressive and emotionally varied the speech becomes. Lower values (like 0.3)
            create more neutral, consistent speaking styles. Higher values (like 1.0) allow for more dynamic
            emotional range and speaking styles.
    timestampObject:
      type: object
      required:
        - text
        - duration
        - start
      properties:
        text:
          description: The generated input element; beginning and ending with a short silence.
          type: string
        duration:
          description: The spoken duration of the generated input element, in seconds.
          type: number
        start:
          description: The start time of the generated input element, in seconds.
          type: number
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: Your API key; get it from your [LMNT settings](https://app.lmnt.com/settings/api).
  parameters:
    VoiceIdPathParam:
      name: id
      in: path
      required: true
      description: The `id` of the voice, which can be retrieved by a call to `List voices`.
      example: '9c4a8f2b3e1d7c40'
      schema:
        type: string
    LmntVersionHeader:
      name: lmnt-version
      in: header
      required: true
      description: The LMNT API version that this client was built against.
      schema:
        type: string
paths:
  /v1/ai/speech/bytes:
    post:
      operationId: generate
      security:
        - ApiKeyHeader: []
      deprecated: false
      description: >
        Generates speech from text and streams the audio as binary data chunks in real-time as they are
        generated.


        This is the recommended endpoint for most text-to-speech use cases. You can either stream the chunks
        for low-latency playback or collect all chunks to get the complete audio file.
      parameters:
        - $ref: '#/components/parameters/LmntVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/streamSpeechRequest'
      responses:
        '200':
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Generate speech
      tags:
        - speech
  /v1/ai/speech:
    post:
      operationId: generate_detailed
      security:
        - ApiKeyHeader: []
      deprecated: false
      description: >
        Generates speech from text and returns a JSON object that contains a base64-encoded audio string
        and optionally word-level timestamps.

        This endpoint waits for all speech to be generated before responding, so it is not ideal for
        latency-sensitive applications.
      parameters:
        - $ref: '#/components/parameters/LmntVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/speechRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  audio:
                    description: The base64-encoded audio file; the format is determined by the `format` parameter.
                    type: string
                  timestamps:
                    description: >-
                      An array describing where each generated input element (words and non-words like spaces,
                      punctuation, etc.) falls in the audio.
                    type: array
                    items:
                      $ref: '#/components/schemas/timestampObject'
                required:
                  - audio
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Generate speech with timestamps
      tags:
        - speech
  /v1/ai/voice:
    post:
      operationId: create
      security:
        - ApiKeyHeader: []
      deprecated: false
      description: >-
        Submits a request to create a voice with a supplied voice configuration and a batch of input audio
        data.
      parameters:
        - $ref: '#/components/parameters/LmntVersionHeader'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  description: The display name for this voice
                  type: string
                  example: new-voice
                gender:
                  description: A tag describing the gender of this voice. Has no effect on voice creation.
                  type: string
                description:
                  description: A text description of this voice.
                  type: string
                tags:
                  description: A list of tags to attach to this voice.
                  type: array
                  items:
                    type: string
                file:
                  description: >-
                    The input audio file to train the voice with, as a binary `wav`, `mp3`, `mp4`, `m4a`, or
                    `webm` attachment.

                    - Max file size: 250 MB.
                  type: string
                  format: binary
                  example: '@input.mp3'
              required:
                - name
                - file
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Create voice
      tags:
        - voice
  /v1/ai/voice/{id}:
    delete:
      operationId: delete
      security:
        - ApiKeyHeader: []
      deprecated: false
      description: Deletes a voice and cancels any pending operations on it. Cannot be undone.
      parameters:
        - $ref: '#/components/parameters/VoiceIdPathParam'
        - $ref: '#/components/parameters/LmntVersionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  success:
                    type: boolean
                required:
                  - success
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Delete voice
      tags:
        - voice
    get:
      operationId: retrieve
      security:
        - ApiKeyHeader: []
      deprecated: false
      description: Returns details of a specific voice.
      parameters:
        - $ref: '#/components/parameters/VoiceIdPathParam'
        - $ref: '#/components/parameters/LmntVersionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/voice'
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Retrieve voice
      tags:
        - voice
    put:
      operationId: update
      security:
        - ApiKeyHeader: []
      deprecated: false
      description: Updates metadata for a specific voice. Only provided fields will be changed.
      parameters:
        - $ref: '#/components/parameters/VoiceIdPathParam'
        - $ref: '#/components/parameters/LmntVersionHeader'
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: 'A description of this voice. '
                  type: string
                gender:
                  description: A tag describing the gender of this voice, e.g. `male`, `female`, `nonbinary`.
                  type: string
                name:
                  description: The display name for this voice.
                  type: string
                starred:
                  description: If `true`, adds this voice to your starred list.
                  type: boolean
                tags:
                  description: Replaces the tags attached to this voice with the given list.
                  type: array
                  items:
                    type: string
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  voice:
                    $ref: '#/components/schemas/voice'
                required:
                  - voice
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Update voice
      tags:
        - voice
  /v1/ai/voice/list:
    get:
      operationId: list
      security:
        - ApiKeyHeader: []
      deprecated: false
      description: Returns a list of voices available to you.
      parameters:
        - $ref: '#/components/parameters/LmntVersionHeader'
        - description: If true, only returns voices that you have starred.
          example: 'true'
          in: query
          name: starred
          required: false
          schema:
            type: string
            default: 'false'
        - description: Which owner's voices to return. Choose from `system`, `me`, or `all`.
          example: system,me
          in: query
          name: owner
          required: false
          schema:
            type: string
            default: all
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/voice'
                type: array
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: List voices
      tags:
        - voice
  /v1/account:
    get:
      operationId: retrieve
      security:
        - ApiKeyHeader: []
      deprecated: false
      description: Returns details about your account.
      parameters:
        - $ref: '#/components/parameters/LmntVersionHeader'
      responses:
        '200':
          content:
            application/json:
              schema:
                properties:
                  plan:
                    properties:
                      character_limit:
                        description: The maximum number of characters per billing period allowed by your plan.
                        type: integer
                      commercial_use_allowed:
                        type: boolean
                      type:
                        description: The type of plan you are subscribed to.
                        type: string
                    required:
                      - character_limit
                      - type
                      - commercial_use_allowed
                    type: object
                  usage:
                    properties:
                      characters:
                        description: The number of characters remaining in this billing period.
                        type: integer
                    required:
                      - characters
                    type: object
                required:
                  - usage
                  - plan
                type: object
          description: OK
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '402':
          $ref: '#/components/responses/PaymentRequired'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
      summary: Retrieve account
      tags:
        - account
tags:
  - name: speech
  - name: voice
  - name: account
